/* 
    消除浏览器默认样式,chrome中 body默认margin:8px;
*/
body{
    margin: 0;
}
.left{
    float: left;
    width: 30%;
    height: 300px;
    background-color: aqua;
}
.right{
    width: 70%;
    height: 300px;
    margin-left: 30%;
    background-color: blue;
}